.codex
.superpowers/
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore PyCharm settings
.idea/

# Ignore log files
*.log

runs/*
